<footer>
    <div>

        <div>
            <address>Place du paradis
                Reykjavik - Islande
            </address>
        </div>
        <div class="classRS">
            <a href=""><img
                    src="icon/[CITYPNG.COM]HD White Round Circle Phone Icon PNG - 2400x2400.png"
                    alt=""></a>
            <a href=""><img src="icon/Facebook_f_logo_(2019).svg.png" alt=""></a>
            <a href=""><img src="icon/Instagram_logo_2022.svg.png" alt=""></a>
            <a href=""><img src="icon/2697658_apple_mail_email_envelope_inbox_icon.png" alt=""></a>

        </div>
        <img id="paiement" src="icon/paiement.png" alt="">
        <div>
            <ul>
                <li><a href="">Conditons générales de ventes</a></li>
                <li><a href="">Mentions Légales</a></li>
            </ul>

        </div>
    </div>
</footer>