<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Contact | Sofandi Múrmeldýr</title>
</head>
 <body>

<%- include("./partials/header.ejs") %>


    <main>
        <h3>Demande de contact</h3>
        <div class="contact">

            <div>
                <label for="idNom">Nom
                </label>
                <input type="text" name="" id="idName" required>
            </div>
            <div>
                <label for="idPrenom">Prénom
                </label>
                <input type="text" name="" id="idPrenom" required>
            </div>

            <div>
                <label for="idAdresse">Adresse
                </label>
                <input type="text" name="" id="idAdresse" required>
            </div>

            <div>
                <label for="idPostal">Code Postal
                </label>
                <input type="number" minlength="5" maxlength="5" name="" id="idPostal" required>
            </div>

            <div>
                <label for="idVille">Ville
                </label>
                <input type="text" name="" id="idVille" required>
            </div>

            <div>
                <label for="idMail">Votre adresse mail
                </label>
                <input type="email" name="" id="idMail" required>
            </div>

            <div>
                <label for="idTel">Telephone
                </label>
                <input type="tel" minlength="10" maxlength="12" name="" id="">
            </div>

            <div>
                <label for="idCommentaire">Information Complementaires
                    <textarea name="" id="idCommentaire" cols="30" rows="10"></textarea>
                </label>
            </div>



        </div>
        <div class="retourHaut">
            <a href="#"><i class="fa-solid fa-caret-up"></i></a>
        </div>

    </main>


    <footer>
        <div>

            <div>
                <address>Place du paradis
                    Reykjavik - Islande
                </address>
            </div>
            <div class="classRS">
                <a href=""><img
                        src="icon/[CITYPNG.COM]HD White Round Circle Phone Icon PNG - 2400x2400.png"
                        alt=""></a>
                <a href=""><img src="icon/Facebook_f_logo_(2019).svg.png" alt=""></a>
                <a href=""><img src="icon/Instagram_logo_2022.svg.png" alt=""></a>
                <a href=""><img src="icon/2697658_apple_mail_email_envelope_inbox_icon.png" alt=""></a>

            </div>
            <img id="paiement" src="icon/paiement.png" alt="">
            <div>
                <ul>
                    <li><a href="">Conditons générales de ventes</a></li>
                    <li><a href="">Mentions Légales</a></li>
                </ul>

            </div>
        </div>
    </footer>


    <script src="https://kit.fontawesome.com/d4b750efd2.js" crossorigin="anonymous"></script>
</body>

</html>