<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" href="main.css">
    <title>Nos hébergements | Sofandi Múrmeldýr</title>
</head>

<body>
    <header>
        <form action="post" class="langage">
            <label for="idLang"><img class="classFlag" src="flags/french flag.png" alt=""></label>
            <select name="" id="idLang">
                <option value="fr">Français</option>
                <option value="en">English</option>
                <option value="is">íslenskur</option>
            </select>
        </form>



        <a href="/index" class="homepage">
            <div><img src="logo.png" alt="Logo Site" style="height: fit-content;"></div>
            <h1>Sofandi Múrmeldýr</h1>
            <h2>Les marmottes endormies</h2>

        </a>

        <hr>




    </header>

    <div class="stickyMenu">
        <nav class="mainMenu">
            <a href="/classiques">Hebergements classiques</a>
            <a href="/insolite">Hebergements insolites</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>

    <main>
        <h3>Nos hébergements</h3>

        <div class="logements">
            <article>
                <h3>Classiques</h3>
                <img src="grastein/Webp.net-resizeimage-copy-1024x768.jpg" alt="">
                <a href="/classiques">Hebergements Classiques</a>
            </article>
            <article>
                <h3>Insolites</h3>
                <img src="nuit-étoilée.jpg" alt="">
                <a href="/insolites">Hebergements Insolites</a>
            </article>
        </div>
        <div class="retourHaut">
            <a href="#"><i class="fa-solid fa-caret-up"></i></a>
        </div>

    </main>
   
    <footer>
        <div>

            <div>
                <address>Place du paradis
                    Reykjavik - Islande
                </address>
            </div>
            <div class="classRS">
                <a href=""><img
                        src="icon/[CITYPNG.COM]HD White Round Circle Phone Icon PNG - 2400x2400.png"
                        alt=""></a>
                <a href=""><img src="icon/Facebook_f_logo_(2019).svg.png" alt=""></a>
                <a href=""><img src="icon/Instagram_logo_2022.svg.png" alt=""></a>
                <a href=""><img src="icon/2697658_apple_mail_email_envelope_inbox_icon.png" alt=""></a>

            </div>
            <img id="paiement" src="icon/paiement.png" alt="">
            <div>
                <ul>
                    <li><a href="">Conditons générales de ventes</a></li>
                    <li><a href="">Mentions Légales</a></li>
                </ul>

            </div>
        </div>
    </footer>


    <script src="https://kit.fontawesome.com/d4b750efd2.js" crossorigin="anonymous"></script>
</body>

</html>