<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Sofandi Múrmeldýr|Les marmottes endormies</title>
</head>
 <body>

<%- include("./partials/header.ejs") %>
    <main>
        <img class="mainPic" src="homepage-headpicture.jpg" alt="">
        <h3>Qui sommes nous ?</h3>
        <hr>
        <div class="aPropos">
            <img src="qui sommes nous-pictue.jpg" alt="">
            <p>Lorem ipsum dolor sit amet. Ab voluptate quae aut minus accusamus sit minus nihil rem voluptatem impedit
                in earum libero. A similique alias qui similique beatae quo consequatur earum qui voluptatem facilis vel
                dignissimos atque.
                <br><br>
                Ex officiis molestiae ut nostrum iusto et galisum quod quo expedita nisi vel aliquid sint qui molestiae
                aut odio quasi. Ut ducimus atque sed facilis nisi sit incidunt fuga aut molestiae sunt eos totam
                cupiditate ut ullam quos ut officiis explicabo.
            </p>

        </div>
        <div class="CTA"><a href="/decouvrir-nos-hebergements">Découvrir nos hébergements</a></div>

        <h3 class="titreAlentour">Autour des chalets</h3>
        <hr>
        <div class="alentours">
            <img src="photo-autour.jpg" alt="">
            <p>Lorem ipsum dolor sit amet. Ab voluptate quae aut minus accusamus sit minus nihil rem voluptatem impedit
                in earum libero. A similique alias qui similique beatae quo consequatur earum qui voluptatem facilis vel
                dignissimos atque.
                <br><br>
                Ex officiis molestiae ut nostrum iusto et galisum quod quo expedita nisi vel aliquid sint qui molestiae
                aut odio quasi. Ut ducimus atque sed facilis nisi sit incidunt fuga aut molestiae sunt eos totam
                cupiditate ut ullam quos ut officiis explicabo.
            </p>


        </div>

        <h3>Découvrir l'Islande</h3>
        <div id="carousel">

            <img src="carousel/carousel (1).jpg" alt="">
            <img src="carousel/carousel (2).jpg" alt="">
            <img src="carousel/carousel (3).jpg" alt="">
            <img src="carousel/carousel (4).jpg" alt="">
        </div>
        <div class="retourHaut">
            <a href="#"><i class="fa-solid fa-caret-up"></i></a>
        </div>

    </main>
 
    <%- include("./partials/footer.ejs"); %>

    <script src="https://kit.fontawesome.com/d4b750efd2.js" crossorigin="anonymous"></script>
</body>

</html>