.container
{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: nowrap;
    align-items: center;
}


.logement p
{
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 35px 0 0;
    
}


.logement img
{
    display: flex;
    width: 50%;
    max-height: 600px;
    object-fit: cover;
    object-position: 50% 100%;
    float: left;
    margin: 20px;
    
    
}

.logement a
{
    border: 1px solid black;
    display: flex;
    margin: 10px auto;
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    background-color: #CE5F77;
    padding: 10px 20px;
    width: fit-content;
    font-size: 52px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 6px 6px 3px #3d3d3d;
}

.logement a:hover
{
    color: #CE5F77;
    background-color: white;
}

.logement form
{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    border: 2px solid #598990;
    border-radius: 10px;
    color: #CE5F77;
    width:max-content;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.logement form input
{
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto 25px;

}

.logement p span
{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px auto;
    color: red;
    font-weight: 700;
}


.description
{
    
    display: flex;
   
    width: 90%;
    margin: 25px auto;
    padding: 40px;
    background-color:#598990 ;
    

}


.description p 
{
    color: white;
}

.description hr
{
    display: flex;
    margin: 0 20px ;
}

.description div
{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    justify-content: center;
   
}

.description div p
{
    margin: 10% 0
}

.otherLocation
{
    display: flex;
    justify-content: space-around
}

article
{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 800px;
    border: 5px solid #598990;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

article>a 
{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color:white;
    background-color: #598990;
    padding: 10px;
    margin: 0 auto 10px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 4px 4px 3px #3d3d3d;
}

article>a:hover
{
    color: #598990;
    background-color: white;
}

article>img
{
    height: 33%;
    max-height: 300px;
    object-fit:cover;
    object-position: 50% 100%; 
}